<section class="modal">
  <div class="modal__container">
    <button
      type="button"
      (click)="closeModal()"
      class="button button-clear modal__button--close-top"
      >
      <span class="material-icons">close</span>
    </button>
    <h4 class="modal__title">{{ title }}</h4>
    @if (hasChildComponent) {
      <ng-content></ng-content>
    }
    @if (!hasChildComponent) {
      <p>{{ message }}</p>
    }
    @if (!hasChildComponent) {
      <div class="button-close">
        <button
          type="button"
          (click)="closeModal()"
          [ngClass]="hasChildComponent ? 'button button-outline' : 'button'"
          >
          close
        </button>
      </div>
    }
  </div>
</section>
