<section class="modal">
  <div class="modal__container">
    <button
      type="button"
      (click)="closeModal()"
      class="button button-clear modal__button--close-top"
    >
      <span class="material-icons">close</span>
    </button>
    <h4 class="modal__title">{{ title }}</h4>
    <ng-content *ngIf="hasChildComponent"></ng-content>
    <p *ngIf="!hasChildComponent">{{ message }}</p>
    <div class="button-close" *ngIf="!hasChildComponent">
      <button
        type="button"
        (click)="closeModal()"
        [ngClass]="hasChildComponent ? 'button button-outline' : 'button'"
      >
        close
      </button>
    </div>
  </div>
</section>
