@import "../../../../styles.scss";

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  transition: opacity 0.4s ease;
  opacity: 1;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 20px;

  &__container {
    padding: 2rem;
    position: relative;
    width: 90%;
    height: auto;
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: black;
    margin: 0 auto;
    top: 10%;
  }

  &__button {
    &--close-top {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .button-close {
    text-align: end;
  }
}

@media (min-width: $x-large) {
  .modal {
    &__container {
      max-width: 800px;
    }
  }
}
