@import "../../../../styles.scss";

.search-container {
  position: relative;
  display: block;
  input {
    padding-right: 3rem;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $medium) {
    display: inline-block;
  }
}






